<footer>
	<p><a href="http://twitter.com/project50green" target="_blank">Project 50 Green</a> is an anonymous mental health support group for teens. Have conversations using hashtags via SMS, Twitter and the web. This app is currently in beta and content may change regularly.</p>
</footer>
